# Intellij IDEA
*.lst
*/target/
*/.idea/
*/obj/
*/.vs/
*/bin/
*/packages/
/java/GUI/target
/java/HBM/target
/java/PTL/target


# VS
/.idea
/.vs

/csharp/WPF/.vs
/csharp/WPF/.idea
/csharp/WPF/obj
/csharp/WPF/bin

/csharp/UTW/.vs
/csharp/UTW/obj
/csharp/UTW/bin

/csharp/MunchkinBeta/.vs/
/csharp/MunchkinBeta/MunchkinBeta/bin/
/csharp/MunchkinBeta/MunchkinBeta/obj/

/csharp/MunchkinLib/bin
/csharp/MunchkinLib/obj

/csharp/Scheduler/AITLib/.vs
/csharp/Scheduler/AITLib/.vs/
/csharp/Scheduler/AITLib/AITLib/bin
/csharp/Scheduler/AITLib/AITLib/bin/
/csharp/Scheduler/AITLib/AITLib/obj
/csharp/Scheduler/AITLib/AITLib/obj/
/csharp/Scheduler/ModelTest/bin
/csharp/Scheduler/ModelTest/bin/
/csharp/Scheduler/ModelTest/obj
/csharp/Scheduler/ModelTest/obj/

/csharp/C#/AIT/.vs
/csharp/C#/AIT/AIT/bin
/csharp/C#/AIT/AIT/obj
/csharp/C#/AIT/AITLib/bin
/csharp/C#/AIT/AITLib/obj
/csharp/C#/AITConsole/bin
/csharp/C#/AITConsole/obj

*.user
*.suo
*.exe
*.pdb
*.cache