# Intellij IDEA
*.lst
*/target/
*/.idea/
*/obj/
*/.vs/
*/bin/
*/packages/
/java/CRD/target
/java/GUI/target
/java/HBM/target
/java/WMS/target


# VS
/.idea
/.vs

/csharp/WPF/.vs
/csharp/WPF/.idea
/csharp/WPF/obj
/csharp/WPF/bin

/csharp/UTW/.vs
/csharp/UTW/obj
/csharp/UTW/bin

/csharp/MunchkinBeta/.vs/
/csharp/MunchkinBeta/MunchkinBeta/bin/
/csharp/MunchkinBeta/MunchkinBeta/obj/

/csharp/MunchkinLib/bin
/csharp/MunchkinLib/obj

/csharp/Scheduler/AITLib/.vs
/csharp/Scheduler/AITLib/.vs/
/csharp/Scheduler/AITLib/AITLib/bin
/csharp/Scheduler/AITLib/AITLib/bin/
/csharp/Scheduler/AITLib/AITLib/obj
/csharp/Scheduler/AITLib/AITLib/obj/
/csharp/Scheduler/ModelTest/bin
/csharp/Scheduler/ModelTest/bin/
/csharp/Scheduler/ModelTest/obj
/csharp/Scheduler/ModelTest/obj/

/csharp/C#/AIT/.vs
/csharp/C#/AIT/AIT/bin
/csharp/C#/AIT/AIT/obj
/csharp/C#/AIT/AITLib/bin
/csharp/C#/AIT/AITLib/obj
/csharp/C#/AITConsole/bin
/csharp/C#/AITConsole/obj


*.user
*.suo
*.exe
*.pdb
*.cache


#UNITY
/unity/2d/First/Logs
/unity/2d/First/Library
/unity/2d/First/obj


/unity/2d/Second/Logs
/unity/2d/Second/Library
/unity/2d/Second/obj


/unity/2d/Kingdom/Logs
/unity/2d/Kingdom/Library
/unity/2d/Kingdom/obj

/unity/2d/Kingdom/Temp/FSTimeGet-7ffdca56884d4e145a04eefb4ce725fc
/unity/2d/Kingdom/Temp/UnityLockfile
/unity/2d/Kingdom/Temp/workerlic
/unity/2d/Second/.vs/Second/FileContentIndex/766809f2-68c7-447f-bc71-e5e71e415cfa.vsidx
/unity/2d/Second/.vs/Second/FileContentIndex/9ac48859-7110-4459-9663-dca46ca8f275.vsidx
/unity/2d/Second/.vs/Second/FileContentIndex/bcaa11f8-08a1-4ba2-b5f5-12a3eee33037.vsidx
/unity/2d/Second/.vs/Second/FileContentIndex/eea6b845-5724-4e96-b51d-06341e264ddd.vsidx
/unity/2d/Second/Temp/__Backupscenes/0.backup
/unity/2d/Second/Temp/FSTimeGet-c23d8376c5263a24788cb8b1162653eb
/unity/2d/Second/Temp/FSTimeGet-d4e670932919c7049a72ab93070547e1
/unity/2d/Second/Temp/FSTimeGet-eb13867dbfbe3724a910e249a930ebc4
/unity/2d/Second/Temp/UnityLockfile
/unity/2d/Second/Temp/workerlic
